{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 80,
    "endOfLine": "lf",
    "arrowParens": "always",
    "tabWidth": 4,
    "useTabs": false,
    "jsxSingleQuote": true
}
